/* Main.css might just be my norm but I' sticking to it for now unless something
tells me I need to do otherwise */

body {
  background-color: #ffb359;
  font-family: Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

p {
  color: white;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px black;
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 2em;
}

div.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.imageContainer {
  justify-content: center;
  flex-grow: 1;
}

div.pageContainer {
  flex-flow: column nowrap;
  justify-content: center;
  width: 75%;
}

img.main {
  height: 400px;
  width: auto;
  padding: 20px;
  border: 2px solid white;
  margin: 10px;
}

img.page {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  padding: 10px;
  margin: auto;
}

/* You want to make a better go back button. Need to find/make an image

a.goback {
  position: fixed;

}  */
